@()
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="@routes.Application.index()">Home</a>
      <ul class="nav">
        <li class="divider-vertical"></li>
        <li class="active">
          <a href="@routes.Products.catalog">Catalog</a> 
        </li>
        <li class="active">
          <a href="@routes.Application.index">
            <!--i class="icon-plus icon-white"></i-->
            Contact
          </a>
        </li>
        <li class="divider-vertical"></li>
      </ul>
    </div>
  </div>
</div>
      
