@()
<div class="row">
	<div class="col-md-12 copyright">
		<div class="row">
			<div class="col-md-6 col-sm-6 copyright-left">
				<p>Copyright &copy; Clotheshop 2012-2014. All right reserved.</p>
			</div>
			<div class="col-md-6 col-sm-6 copyright-right">
				<ul class="list-unstyled list-social">
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
